<div class="row">
    <div class="col-md-4 ">
        <form action="/images/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" class="form-control" required placeholder="título de la imagen">
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea name="description" id="description" cols="30" rows="10" required class="form-control"
                    placeholder="Descripción de la imagen"></textarea>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <label for="file" class="custom-file-label">Subir imagen</label>
                    <input type="file" id="file" name="image" class="custom-file-input" required>
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-success" >
                Subir Imagen
            </button>
        </form>
    </div>

    <div class="col-md-8 mt-sm-3">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th style="width: 200px;">Opciones</th>
                </thead>
                <tbody>
                    {{#each photos}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>
                            <a href="{{imageUrl}}" target="_blank" rel="noopener noreferrer" class="btn btn-info">Ver</a>
                            <a href="/images/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>